* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Containerbox {
  width: 1000px;
  margin: 100px auto;
}

.Parentbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.Photos img {
  width: 100%;
}

.Description {
  padding: 8px;
}

.Cate {
  font-size: 18px;
  font-weight: 600;
  color: rgb(156, 156, 156);
}

.Title {
  font-size: 28px;
  font-weight: 800;
  margin-top: 24px;
}

.Price {
  font-size: 24px;
}

.Info {
  margin-top: 16px;
  color: grey;
}

.ButtonAdd {
  display: inline-block;
  text-decoration: none;
  background-color: hotpink;
  color: white;
  padding: 12px 18px;
  margin-top: 12px;
  border-radius: 25px;
}

.ListBenefits {
  padding: 10px;
  margin-left: 20px;
}

.ListBenefits li {
  padding: 5px;
  color: grey;
}

.CustomerReviews {
  margin-top: 16px;
}

.Review_Member {
  width: 80%;
  padding: 8px 0 4px 8px;
  display: flex;
  flex-direction: row;
}

.Review_Image {
  width: 45px;
  height: 45px;
}

.Review_Info {
  color: grey;
  margin-left: 12px;
}

.Review_Name {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.Review_Desc {
  font-size: 12px;
}

.Review_Date {
  font-size: 8px;
}
